---
interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL =
  Astro.url.pathname === "/"
    ? new URL(Astro.url.pathname, "https://thingbomb.com")
    : new URL(Astro.url.pathname, Astro.site);

const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- 100% privacy respecting analytics -->
<script src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />

<script is:inline>
  document.addEventListener("keydown", (e) => {
    if (
      document.activeElement.tagName !== "INPUT" &&
      document.activeElement.tagName !== "TEXTAREA"
    ) {
      if (
        e.key == "/" &&
        !e.metaKey &&
        !e.shiftKey &&
        !e.altKey &&
        !e.ctrlKey
      ) {
        e.preventDefault();
        window.location.href = "/";
      }
    }
    if (
      e.key == "Escape" &&
      !e.metaKey &&
      !e.shiftKey &&
      !e.altKey &&
      !e.ctrlKey
    ) {
      const selectedInputOrTextarea = document.activeElement;
      if (
        selectedInputOrTextarea.tagName === "INPUT" ||
        selectedInputOrTextarea.tagName === "TEXTAREA"
      ) {
        selectedInputOrTextarea.blur();
      }
    }
  });
</script>
