---
import Input from "../../components/ui/input.astro";
import ToolLayout from "@/layouts/ToolLayout.astro";
---

<ToolLayout
  title="HEX to RGB - free online tools"
  description="Easily and quickly convert HEX to RGB online for free."
>
  <Input id="hex" type="text" placeholder="Hex code" className="mt-2" />
  <div
    id="color-preview"
    style="display: none;"
    class="mt-2 h-9 rounded-md border-1 border-input w-full scale-100 select-none cursor-pointer transition-all transform-content hover:scale-105"
  >
    <p
      style="mix-blend-mode: difference;"
      id="color-preview-text"
      class="text-lg font-medium w-full h-full flex items-center justify-center"
    >
      Copy to clipboard
    </p>
  </div>
</ToolLayout>

<script is:inline>
  const hexInput = document.getElementById("hex");
  const colorPreview = document.getElementById("color-preview");

  hexInput.addEventListener("input", () => {
    const hex = hexInput.value;
    const rgb = hexToRgb(hex);
    colorPreview.style.backgroundColor = rgb
      ? `rgb(${rgb.r}, ${rgb.g}, ${rgb.b})`
      : "";
    const colorPreviewText = document.getElementById("color-preview-text");
    colorPreviewText.textContent = rgb
      ? `rgb(${rgb.r}, ${rgb.g}, ${rgb.b})`
      : "";
    colorPreview.style.display = rgb ? "block" : "none";
  });

  document.getElementById("color-preview").addEventListener("click", () => {
    navigator.clipboard.writeText(hexInput.value);
    const colorPreviewText = document.getElementById("color-preview-text");
    const currentText = colorPreviewText.textContent;
    colorPreviewText.textContent = "Copied!";
    setTimeout(() => {
      colorPreviewText.textContent = currentText;
    }, 1000);
  });

  function hexToRgb(hex) {
    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
    return result
      ? {
          r: parseInt(result[1], 16),
          g: parseInt(result[2], 16),
          b: parseInt(result[3], 16),
        }
      : null;
  }
</script>
